.body{
    display:flex;
    padding-right: 15px;
    padding-left: 15px;
}
.body-pic{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:1rem;
    align-items:center;
    justify-content:center;
}

.nav-bar{
    padding: 10px;
    display:flex;
    position:sticky;
}

.body-projects{
    padding: 10px;
}